*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;;
  }

#header{
    height: 100vh;
    background-color: black;
}

.white-curve-1 img{
    max-width: 100%;  
    height: 40.3vh;  
    float: right;
}

.white-curve-2 img{
    max-width: 100%;      
    height: 33.8vh;
}

.main-heading {
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    
   
    

}
.main-heading .tulika p {
    color: white;
    margin-top: 30vh;
    font-family: 'Italiana', serif;  
    letter-spacing: -0.3vh;
    font-size: 15.5vh;

}

.main-heading .arun p {
  color: white;
  margin-left: 19vh;
  margin-top: -23vh;  
  font-family: 'Italiana', serif;
  letter-spacing: -0.3vh;
  font-size: 15.5vh;

}

.main-heading .portfolio{
  margin-left: -24vh;
  margin-top: 1.5vh;

}

.main-heading .portfolio p{    
    color: #d80032;
    font-size: 5.5vh;
    
    
    font-weight: lighter;
    margin-top: -9vh;
    overflow: hidden;
    letter-spacing: -0.3vh;
    margin-bottom: 3.5vh;
}

.home{
    height: 100vh;
}


.black-curve-1 img{
  max-width: 100%;  

  height: 12.5em;
  margin-top: -8.6vh;

  z-index: 0;
  
}

.navbar-nav{

  gap: 73em;;
}

.underline {
  display: inline-block;
  position: relative;
  color: #000;
}

.underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.lol{
  display: flex;
  margin-left: -2em
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}

section{  
  height: 100vh;
  width: 100%;
  align-items: center;
  color: #000;
  font-size: 20px;
  z-index: 1;  
  display: inline-flex;
  justify-content: space-around;
}
section .section1{
  margin-bottom: -5em;
}

section .section2{
  margin-bottom: -2.8em;
}

section .secction3{
  margin-bottom: -1.6em;
  display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about{
  display: inline-flex;
}

.description, .picture{
  width: 500px;
  padding: 10px;
   
}

.picture img{
  margin-bottom: -6em;
  z-index: 1;
}
.hi{
  font-size: 7.5vh; 
  font-family: 'Italiana', serif;
  
}
.hi:before{
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  margin-left: -4.5em;
}
.title{
  display: flex;
  font-size: 4.5vh;
  font-family: 'Italiana', serif;
  justify-content: center;
  margin-top: -1em;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.laptop{
  height: 20em;
  width: 40em;
  border: 1px solid #000;
  background-color: white;
  z-index: 1;
  margin-top: 4em;
  margin-left: 2.4em;
}

.skills{
  display: flex;  
  flex-direction: column;
  margin-bottom: -6em;
}

.laptop-bg{
  height: 24em;
  width: 45em;
  z-index: -1;
  margin-bottom: -24.8em;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
 /* Should be removed. Only for demonstration */
}
.row{
  display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.hovertext {
  position: relative;
  
}
.hovertext img{
  margin-left: 4em;
}
.hovertext:before {
  content: attr(data-hover);
  width: 9em;
  opacity: 0;
  /* width: 140px; */
  /* background-color: black; */
  color: black;
  
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 4.5em;
  top: 2.5em;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.experience {
  margin-top: -27em;
  margin-left: -1em;
}

.vertical {
  border-left: 1px solid black;
  height: 200px;
  position:absolute;
  left: 50%;
}

.resume{
  display: flex;
  flex-direction: column;
  margin-left: -38em;
  margin-top: 43em;
  width: 49em;
}
.work{
  width: 40em;
}

main {
  margin-top: 50em;
  margin-left: 7em;
  margin-right: 5em;
}
.work p {  
  border-top: 1px solid;
  border-image: black;
  border-image-slice: 1;
  border-width: 1px;
  margin: 0;
  padding: 40px 10px 40px 40px;
  counter-increment: section;
  position: relative;
  color: black;
}  



  .work p:nth-child(odd) {
  border-right: 1px solid;
  padding-left: 0;
} 
.work p::before {
    left: 100%; 
    margin-left: -20px;
  }


  .work p:nth-child(even) {
  border-left: 1px solid;
  padding-right: 0;
}
.work p::before {
    right: 100%; 
    margin-right: -20px;
  }

  .work p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.work p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

.work .pos{
  color: black;
  font-weight: bold;
  font-size: larger;
}

.work .org{
  color: #d80032;
  font-style: italic;
}

.work .date{
  font-style: italic;
}


/*
section{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  color: #000;
  font-size: 20px;
  z-index: 1;

  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: space-between;
}

.description{
  font-size: 20px;
  margin: 0 0 35vh 35vh;
    width: 25em;

}

.description span{
width: fit-content;
  
  padding: 5px;
  margin-bottom: 1em;
}
.picture{
  border: 1px solid black;
  margin-right: 15vh;
  margin-bottom: 7em;
  height: 26em;
}
.picture img{
  height: 600px;
  
}
.hi{
  text-align: center;
  font-size: 30px;
  max-width: 600px;
  position: relative;
}

.hi::before{
  content: "";
  display: block;
  width: 35vh;
  height: 0.5px;
  background: #000;
  left: -5em;
  top: 50%;
  position: absolute;
}
*/